{% extends 'base.html.twig' %}

{% block title %} ElieMando : Lireplus{% endblock %}

{% block body %}

<div class="container">
  <section class="mt-5 jumbotron">
    <div class="row featurette">
    </div>

    <div class="offset-md-3  col-md-6 offset-md-3 text-center">
      <h5 class="card-title mb-5">Quels outils nécessaires me seront nécessaires à mes prochaines missions ?</h5>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner">
             <div class="carousel-item active">
              <img src="assets/img/pexels-miguel-á-padriñán-2882568.jpg" class="container">                        
      </div>

      <div class="carousel-item">
        <img src="assets/img/wp2742433-css-wallpaper.jpg" class="container">
      </div>

      <div class="carousel-item">
        <img src="assets/img/programmers-javascript-minimalism-wallpaper-preview.jpg" class="container">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


        <p class="lead">
                        Les outils sont nombreux sans parler des langages informatiques à connaitre 
                        pour acquérir les compétences nécessaires. Il va falloir nécessairement en tant que 
                        développeur de maitriser de bases : 

                        <div class="list-group">

                            <a href="https://fr.wikipedia.org/wiki/Hypertext_Markup_Language" class="list-group-item list-group-item-action">HTML</a>
                            <a href="https://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade" class="list-group-item list-group-item-action">CSS</a>
                            <a href="https://fr.wikipedia.org/wiki/PHP" class="list-group-item list-group-item-action">PHP</a>
                            <a href="https://fr.wikipedia.org/wiki/JavaScript" class="list-group-item list-group-item-action">JAVASCRIPT</a>
 
                        </div>
                    </p>

                    <p class="lead">
                        Ce sont les langages de bases pour un débutant en Développement Web. Certes, connaitre
                        simplement les langages des bases ne suffisent pas pour se faire un vrai développeur.
                        A ces langages vous dévriez ajouter d'autres technologies <a href="https://fr.wikipedia.org/wiki/Syst%C3%A8me_de_gestion_de_contenu" >CMS</a> autrement appelé
                        <a href="https://fr.wikipedia.org/wiki/Framework" >Framework</a> comme Symfony, ReactJs, Angular, Java et tant d'autres.

                    </p>

                    
                        <h5 class="card-title">Backend ou Frontend ?</h5>
                    <p class="lead">

                        A mon humble avis, la place qu'occupe un développeur dépend intégralement du projet 
                        ou de l'entreprise dans lequel il travaille. Pour des p'tits projets, le développeur 
                        se fera à la fois développeur <a href="https://fr.wikipedia.org/wiki/Backend"  >Backend</a> 
                        et <a href="https://fr.wikipedia.org/wiki/Frontend" >Frontend</a>. 

                        Mais je préfere moi etre un développeur backend puisqu'à moi, pour le front, il 
                    existe de nos jours beaucoups de templates gratuits comme payants grace auquel on 
                    peut facilement intégrer lors de l'implémentation du projet sur lequel on travaille.

                    </p>

                </div>

            </div>
        </section>
        
  <!-- Contact -->

    <section class="skills mx-auto" id="contact">
    <div class="row">
    <div class="max-width">
<div class="col-md-6" ></div>
            <h2 class="title">Contact</h2>
            <div class="skills-content">
                <div class="col-md-6 mx-auto">

                    <p class="text-center">Vous pouvez me contacter directement sur facebook, twitter ou par 
                    whatsapp ; les liens se trouvent en bas de la présente page.</p>
                    
                    <p class="text-center" >
                        <a href="#" class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Me joindre</a>

                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Me joindre</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                            <footer class="bg-light text-center text-white">
                            <!-- Grid container -->
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                <!-- Facebook -->
                                <a
                                    class="btn btn-primary btn-floating m-1"
                                    style="background-color: #3b5998;"
                                    href="https://www.facebook.com/eliealarson.mando/"
                                    role="button"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>

                                <!-- Twitter -->
                                <a
                                    class="btn btn-primary btn-floating m-1"
                                    style="background-color: #55acee;"
                                    href="https://twitter.com/eli_alarson"
                                    role="button"
                                    ><i class="fab fa-twitter"></i
                                ></a>

                                <!-- Google -->
                                <a
                                    class="btn btn-primary btn-floating m-1"
                                    style="background-color: #dd4b39;"
                                    href="mailto:eliekoyabanda@gmail.com"
                                    role="button"
                                    ><i class="fab fa-google"></i
                                ></a>
                    </p>
    
    </div>
    
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

 
</footer>

  </div>
</div>



                </div>
               
            </div>
        </div>
    </section>
 </div>
{% endblock %}
