{% extends 'base.html.twig' %}

{% block title %}ElieMando : Accueil{% endblock %}

{% block body %}


    <!-- Page Header-->

        <header class="masthead" style="background-image: url('assets/img/pexels-josh-sorenson-1714205.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Bienvenue sur mon Portfolio</h1>
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>


    <!-- Introduction -->

    <div class="container">
        <section class="mt-5 jumbotron">
            <div class="row featurette">
                <div class="col-md-6 text-center mx-auto">
                    <h2 class="featurette-heading ">Bienvenue chez ElieMando </h2>
                    <span class="text-muted small"> <em>Je suis content de vous voir sur mon Portfolio.</em> </span>
                    <p class="lead">
                        De nos jours, l'informatique touche presque à tout domaine. Essayer de se passer
                        de ce dernier serait preque impossible vue également l'évolution de l'actuel
                        téchnologie.
                    </p>
                    <p class="lead">
                        Vous êtes sur mon Portfolio, je suis un Développeur et Programmeur. Comme tout autre 
                        informaticien programmeur et développeur, j'aime être à la page, sur les nouvelles 
                        technologies du développement des applications et mobiles.
                    </p>

                    <div>
                        <p class="text-center"><a href="#foot" class="btn btn-dark intro">Contact</a></p>
                    </div>
                </div>
                

            </div>
        </section>
    </div>

 <!-- ******************************************************************************************** -->
 <!-- A propos : section -->

    <div class="container-fluid bg-dark p-5"  style="color:white;">
        <section class="jumbotron">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="bg-dark"  >
                        <div>
                            <h5 class="card-title">Motivations</h5>
                            <p class="lead">
                                La motivation est, dans un organisme vivant, 
                                la composante ou le processus qui règle son engagement pour
                                 une activité précise. J'ai été depuis mon enfance, passionné de 
                                 l'informatique. Un jour, je m'étais dit que j'en serais un grand ; ça a été
                                 depuis ce jour jusqu'à maintenant ma principale motivation. 
                            </p>

                            <p class="lead">
                                 Bien évidemment, on ne se réveille pas un jour et du coup l'on dévient un grand 
                                 homme ou un grand informaticien ; cela implique énormément de sacrifices, du 
                                 travail et de la motivation.

                                 
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="bg-dark"  >
                        <div>
                            <h5 class="card-title">Objectifs</h5>
                            <p class="lead">

                                Tout être vivant sur cette terre, se fixe normalement un ou des objectifs à 
                                atteindre. Et étant un être humain, j'ai mes objectifs également. 
                                Etre compétent dans mon domaine envue de me servir et la communauté
                                au cas où cette dernière aura besoin de mes services, voilà un des mes principaux objectifs.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



 <!-- Me concernant-->

<div class="container">

    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">Me concernant</h2>
            <div class="about-content">
                <div class="column left">
                     <img src="assets/img/fondateur.jpg" class="fondateur"  alt="">
                </div>
                <div class="column right">
                    <div class="text">Je suis Elie Mando Je suis un <span class="typing-2"></span></div>
                    <p>Elie Mando est un passionné de l'IT. Ses passes-temps impliquent généralement la conception et
                    l'apprentissage des langages informatiques pour mettre à jour et à niveau ses compétences 
                    de Développeur. </p>
                    <p>
                    De fois, travailler en équipe s'avère très interresant. Je reste ainsi disponible pour 
                    toute personne voulant me contacter pour qu'on développe ensemble sur un sujet ou sur 
                    un projet de réalisation d'une application tant Web que mobile. Et d'ailleurs sur ce point, 
                    je suis entrain de mettre en place un système de blog pour partager la connaissance avec d'autres 
                    personnes.</p>
                </div>
            </div>
        </div>
    </section>

       
  <!-- Compétence -->

    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">Compétences</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text-center text">Les bases du développement Web</div>
                    <p> Les bases sont importantes lorsque l'on veut accomplir de grandes choses. C'est pareil
                    en Développement Informatique. Certes, connaitre
                        simplement les langages des bases ne suffisent pas pour se faire un vrai Développeur.
                        A ces langages vous dévriez ajouter d'autres technologies ...</p>
                    <a href="./lireplus">Lire plus</a>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>40%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>PHP</span>
                            <span>50%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>MySQL</span>
                            <span>50%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>




  <!-- Contact -->

    <section class="skills mx-auto" id="contact">
    <div class="row">
    <div class="max-width">
<div class="col-md-6" ></div>
            <h2 class="title">Contact</h2>
            <div class="skills-content">
                <div class="col-md-6 mx-auto">

                    <p class="text-center">Vous pouvez me contacter directement sur facebook, twitter ou par 
                    whatsapp ; les liens se trouvent en bas de la présente page.</p>
                    
                    <p class="text-center" >
                        <a href="#" class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Me joindre</a>

                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel">Me joindre</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                            <footer class="bg-light text-center text-white">
                            <!-- Grid container -->
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-4">
                                <!-- Facebook -->
                                <a
                                    class="btn btn-primary btn-floating m-1"
                                    style="background-color: #3b5998;"
                                    href="https://www.facebook.com/eliealarson.mando/"
                                    role="button"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>

                                <!-- Twitter -->
                                <a
                                    class="btn btn-primary btn-floating m-1"
                                    style="background-color: #55acee;"
                                    href="https://twitter.com/eli_alarson"
                                    role="button"
                                    ><i class="fab fa-twitter"></i
                                ></a>

                                <!-- Google -->
                                <a
                                    class="btn btn-primary btn-floating m-1"
                                    style="background-color: #dd4b39;"
                                    href="mailto:eliekoyabanda@gmail.com"
                                    role="button"
                                    ><i class="fab fa-google"></i
                                ></a>
                    </p>
    
    </div>
    
    </section>
    <!-- Section: Social media -->




  </div>
  <!-- Grid container -->

 
</footer>

  </div>
</div>



                </div>
               
            </div>
        </div>
    </section>

        
    </div>


{% endblock %}
