<div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
</div>

    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/">Elie<span>Mando</span>  </a></div>
            <ul class="menu">
                <li><a href="/" class="menu-btn">Accueil</a></li>
                <li><a href="#about" class="menu-btn">A propos</a></li>
                <li><a href="#skills" class="menu-btn">Compétences</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>