<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="site_de" content="" />
        <meta name="elieMando" content="" />
        <title>ElieMando : Home </title>


        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
       
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
         rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" 
        rel="stylesheet" type="text/css" />
        
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
         rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
         crossorigin="anonymous">
        <link href="./assets/css/styles.css" rel="stylesheet" />
        <link href="./assets/css/animate.css" rel="stylesheet" />

        <!-- Core theme CSS (includes Bootstrap) END -->


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>


    </head>
    <body>
 
<!-- Navbar -->

        {{ include('partials/_navbar.html.twig')  }}
    

<!-- home section start -->

    <section class="home" id="home" style="background-image: url('assets/img/pexels-cottonbro-5483071.jpg')">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Salut, mon nom est </div>
                <div class="text-2">Elie Mando</div>
                <div class="text-3">Et Je suis un <span class="typing"></span></div>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </section>

       {% block body %}{% endblock %}


<!-- Footer -->

        {{ include('partials/_footer.html.twig')  }}




           </body>



        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="./assets/js/app.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
         crossorigin="anonymous"></script>

    </body>
</html>
